.div-demo{
     height: 50vh;
     display: flex;
     align-items: left;
     //word-wrap: break-word;
     justify-content: left;
}

.ediv{
     word-wrap: break-word;
}

.grid-img{
    
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border:1px #DCDCDC solid;
}


   
   .column {
     float: left;
     width: 50%;
   }
   
   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }